
          


          
 .row {
     height: 100%;
     background-color: #D7D7D7;
     width: 100%;
     max-width:1500px;
     display: flex;
     justify-content: center;
     align-items: center;
     display: flex;
     margin: auto;
 }
 
 .row-bottom-margin {
     margin-bottom:30px; 
     height: 100%;
     background-color: #D7D7D7;
     width: 100%;
     justify-content: center;
     align-items: center;
     display: flex;
 }
 
 .row .form {
    
     padding: 40px;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: #D7D7D7;
     margin:10%;
     padding: 6%;
     height: 100%;
     width: 100%;
     border-radius: 60px;
     background: #D7D7D7;
     box-shadow: 33px 33px 66px #b7b7b7,
         -33px -33px 66px #f7f7f7;
         justify-content: center;   
 }
 
 .row .form h1 {
     margin-bottom: 24px;
     margin-top: 7px;
     font-size: 40px;
     text-align: center;
 
 }
 
 .row .form input {
     outline: none;
     border: none;
     margin-bottom: 30px;
     font-size: 12px;
     padding: 13px;
     width: 100%;
     
     font-family: Helvetica;
 
     border-radius: 68px;
     background: #D7D7D7;
     box-shadow: inset 12px 12px 24px #b7b7b7,
         inset -12px -12px 24px #f7f7f7;
         
 }
 
 .row .form button {
     border: none;
     outline: none;
     font-size: 14px;
     padding: 12px;
     margin-top: 20px;
     width: 120px;
 
     border-radius: 35px;
     background: #D7D7D7;
     box-shadow: 12px 12px 24px #b7b7b7,
         -12px -12px 24px #f7f7f7;
 
 }
 
 .row .form button:hover {
     border-radius: 35px;
     background: #D7D7D7;
     box-shadow: inset 16px 16px 31px #b7b7b7,
         inset -16px -16px 31px #f7f7f7;
 
 }
 
 .row .package {
     margin-bottom: 8%;
     margin-top: 8%;
     margin-left: 8%;
     padding: 40px;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: #D7D7D7;
 
     height: 420px;
     width: 320px;
     border-radius: 68px;
     background: #d7d7d7;
     box-shadow: inset 41px 41px 82px #b7b7b7, 
             inset -41px -41px 82px #f7f7f7;
 }
 
 .row .package h1 {
     margin-bottom: 24px;
     margin-top: 7px;
     font-size: 40px;
     text-align: center;
 
 }
 
 .row .package button {
     border: none;
     outline: none;
     font-size: 14px;
     padding: 12px;
     margin-top: 20px;
     width: 120px;
 
     border-radius: 35px;
     background: #D7D7D7;
     box-shadow: 12px 12px 24px #b7b7b7,
         -12px -12px 24px #f7f7f7;
 }
 
 .row .package button:hover {
     border-radius: 35px;
     background: #D7D7D7;
     box-shadow: inset 16px 16px 31px #b7b7b7,
         inset -16px -16px 31px #f7f7f7;
 }
 
 .row .package form {
     text-align: center;
 }
 
