html,
body {
    margin: 0 0;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 8px #676767;
    background-color: #D7D7D7;
}

nav {
    text-align: right;
}

ul {
    width: auto;
    float: right;
    margin-top: 3px;
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    padding: 15px 30px;
    font-family: Courier;
    color: black;
    text-shadow: none;
    text-decoration: none;

}

a {
    text-align: center;
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
    transition: 0.3s;
    text-decoration: none;
}

.row {
    height: 100vh;
    background-color: #D7D7D7;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

.row-bottom-margin {
    margin-bottom:30px; 
    height: 100%;
    background-color: #D7D7D7;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.row .form {
    margin-bottom: 8%;
    margin-top: 8%;
    margin-left: 8%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D7D7D7;

    height: 380px;
    width: 320px;
    border-radius: 60px;
    background: #D7D7D7;
    box-shadow: 33px 33px 66px #b7b7b7,
        -33px -33px 66px #f7f7f7;
}

.row .form h1 {
    margin-bottom: 24px;
    margin-top: 7px;
    font-size: 40px;
    text-align: center;

}

.row .form input {
    outline: none;
    border: none;
    margin-bottom: 30px;
    font-size: 12px;
    padding: 13px;
    width: 230px;
    font-family: Helvetica;

    border-radius: 68px;
    background: #D7D7D7;
    box-shadow: inset 12px 12px 24px #b7b7b7,
        inset -12px -12px 24px #f7f7f7;
}

.row .form button {
    border: none;
    outline: none;
    font-size: 14px;
    padding: 12px;
    margin-top: 20px;
    width: 120px;



    border-radius: 35px;
    background: #D7D7D7;
    box-shadow: 12px 12px 24px #b7b7b7,
        -12px -12px 24px #f7f7f7;

}

.row .form button:hover {
    border-radius: 35px;
    background: #D7D7D7;
    box-shadow: inset 16px 16px 31px #b7b7b7,
        inset -16px -16px 31px #f7f7f7;

}

.row .package {
    margin-bottom: 8%;
    margin-top: 8%;
    margin-left: 8%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D7D7D7;

    height: 420px;
    width: 320px;
    border-radius: 68px;
    background: #d7d7d7;
    box-shadow: inset 41px 41px 82px #b7b7b7, 
            inset -41px -41px 82px #f7f7f7;
}

.row .package h1 {
    margin-bottom: 24px;
    margin-top: 7px;
    font-size: 40px;
    text-align: center;

}

.row .package button {
    border: none;
    outline: none;
    font-size: 14px;
    padding: 12px;
    margin-top: 20px;
    width: 120px;

    border-radius: 35px;
    background: #D7D7D7;
    box-shadow: 12px 12px 24px #b7b7b7,
        -12px -12px 24px #f7f7f7;
}

.row .package button:hover {
    border-radius: 35px;
    background: #D7D7D7;
    box-shadow: inset 16px 16px 31px #b7b7b7,
        inset -16px -16px 31px #f7f7f7;
}

.row .package form {
    text-align: center;
}

.profile-pic {
    display:flex;
    align-items: center;
    border-radius: 50%;
    background: #d7d7d7;
    width: 200px;
    height: 200px;
    box-shadow:  41px 41px 82px #979797, 
                -41px -41px 82px #ffffff;
}

div .room {
    display: flex;
    background-color: #D7D7D7;
    border-radius: 56px;
    background: #d7d7d7;
    box-shadow:  12px 12px 27px #8e8e8e, 
             -12px -12px 27px #ffffff;
}

div .heart {
    position: relative;
    border-radius: 166px;
    background: #d7d7d7;
    box-shadow:  6px 6px 20px #949494, 
             -6px -6px 20px #ffffff;
}

div .heart img {
    position: relative;
    height: 20px;
    width: 20px;
}

div .heart a {
    position: relative;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
}

.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}
  
.scrollmenu div {
    display: inline-block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

@media screen and (max-width:600px) {
    nav ul li {
        text-align: right;
        width: 100%;
    }
}
.aboutCard
{
    
    margin-top: 3%;  
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D7D7D7;

    height: 600px;
    width: 800px;
    border-radius: 68px;
    background: #d7d7d7;
    box-shadow:  41px 41px 82px #b7b7b7, 
            -41px -41px 82px #f7f7f7;

}
.col1
{
    display: flex;
    
    height: 200px;
    margin: 20px;
    margin-top: -40%;
    border-radius: 38px;
    background: #d7d7d7;
    box-shadow:  41px 41px 82px #b7b7b7, 
            -41px -41px 82px #f7f7f7;
    width: 1400px;
}

.col3
{
    background-image: url("https://miro.medium.com/max/1200/0*Ggt-XwliwAO6QURi.jpg");
    width: 400px;
    border-radius: 50%;
    border: 2px solid #D7D7D7;
    margin-left: 60px;
}

.col3:after
{
    content:"";
    padding-bottom: 100%;
    display: block;
}

.col
{
    border-radius: 100px;
    background: #d7d7d7;
    box-shadow:  41px 41px 82px #b7b7b7, 
            -41px -41px 82px #f7f7f7;
    width: 1400px;
    margin: 40px;
    padding: 30px;
    padding-right: 40px;
    text-align: left;  
}
.col8
{
    border-radius: 100px;
    background: #d7d7d7;
    box-shadow:  41px 41px 82px #b7b7b7, 
            -41px -41px 82px #f7f7f7;
    width: 400px;
    margin: 40px;
    padding: 30px;
}

#description
{
    height: 400px;
    box-shadow:  none;
    margin-bottom: -10px;
}
.col:hover
{
    border-radius: 100px;
background: #D7D7D7;
box-shadow: inset 35px 35px 70px #b7b7b7, 
            inset -35px -35px 70px #f7f7f7;
          text-align: left;  
}

#topMargin
{
    margin-top: -200px;
}

.row2
{
    height: 100vh;
    background-color: #D7D7D7;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

.col5
{
    
    margin-bottom: 8%;
    margin-top: 8%;
    margin-left: 8%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D7D7D7;

    height: 450px;
    width: 600px;
    border-radius: 60px;
    background: #D7D7D7;
    box-shadow: 33px 33px 66px #b7b7b7,
        -33px -33px 66px #f7f7f7;
        
        
}

.nav-link { 
    color: black;
    font-style: bold;
}

.navbar-nav ml-auto flex-nowrap, li  a:hover
{
    border-radius: 20px;
    background: #D7D7D7;
    box-shadow: inset 12px 12px 24px #b7b7b7, 
                inset -12px -12px 24px #f7f7f7;              
}
